<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="SYSTEM_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${MY_LOG_PATH}/quiz_service_log_%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<!-- 单个日志文件最多 10MB-->
			<MaxFileSize>10MB</MaxFileSize>
			<!--保留最近15天的日志 -->
			<MaxHistory>15</MaxHistory>
			<!-- 所有日志文件总和 -->
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger
				%method\(\):%L- %msg%n</pattern>
		</encoder>
	</appender>

    <!-- 第三方包的日志过滤级别，用于避免刷屏 -->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.mybatis" level="ERROR"/>
    <logger name="java.sql" level="ERROR"/>
    <logger name="freemarker" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="com.netflix" level="ERROR"/>
	<logger name="com.hnjme" level="DEBUG"/>


	<root level="DEBUG">
		<!-- 控制台输出可以注释掉 -->
		<appender-ref ref="STDOUT" level="DEBUG"/>
		<appender-ref ref="SYSTEM_FILE" level="ERROR"/>
	</root>

</configuration>
